
body {
  margin: 0;

	font-family: "PT Sans", sans-serif;
	font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

a {
	text-decoration: none;
}

 /*a:visited {
	color: #000000;
}*/

.logo {
  width: 140px;
  height: 72px;
}

.navigation-items {
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  font-weight: 700;
}
.navigation-items a {
	color: #000000;
}

.navigation-items a:hover {
	color: #81b3d2;
}

.navigation-items a:active {
	color: #b2b2b2;
}

.active a {
  color: #766357;
}

.main-info {
	font-size: 21px;
  line-height: 26px;
}

.main-why {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.infoblock {
	color: #ffffff;
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  text-align: center;
}

.infoblock-title{
	font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.infoblock-tag  {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.infoblock-text {
	font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.tags {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
}

.tags-title {
	font-size: 21px;
  font-weight: 700;
}

.whys {
	background-color: #eeeeee;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
}

.why-title {
	font-size: 21px;
  font-weight: 700;
}

.visually-hidden {
   display: none;
}

.search-title-b {
	font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-title-p {
	font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.search-main-title {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
 text-align:center;
}

.search-main-title:hover {
  background-color: #604e43;
}

.search-main-title:active {
  background-color: #503e33;
  color: #847870;
}

.hashtag {
	font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.htmlacademy-text {
	font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* Гостиницы */

.sorting-found {
	font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting-title {
	font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}



.sorting-ul {
	font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  color: #b2b2b2;
}
.sorting-ul a {
  color: #b2b2b2;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
	color: #000000;
}

.hotel {
	font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-title {
	color: #000000;
	font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-more {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background: #81b3d2;
  color: #ffffff; 
}

.hotel-more:hover {
  background: #669ec0;
}

.hotel-more:active {
  color: #7aadcb;
  background: #5496bd;
}

.hotel-rent {
	font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background: #766357;
  color: #ffffff; 
}

.hotel-rent:hover {
  background: #604e43;
}

.hotel-rent:active {
  background: #847870;
  color: #7a6c64;
}

.hotel-title:hover {
	color: #81b3d2;
}

.hotel-title:active {
	color: #b2b2b2;
}

.submit-search {
	width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
}

.submit-search:hover {
	background-color: #669ec0;
}

.submit-search:active {
	color: #87b6d1;
	background-color: #5496bd;
}