body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 76px;
}

.logo {
  display: flex;
  justify-content: center;
}

.welcome {
  display: flex;
  justify-content: center;
}

.navigation-items {
  display: flex;
  margin: 5px;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  font-weight: 700;
}

.navigation-items a {
  color: #000000;
}

.navigation-items a:hover {
  color: #81b3d2;
}

.navigation-items a:active {
  color: #b2b2b2;
}

.active a {
  color: #766357;
}

.main-info {
  display: flex;
  justify-content: center;
  font-size: 21px;
  line-height: 26px;
}

.main-why {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.infoblock {
  color: #ffffff;
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  text-align: center;
}

.infoblock-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 161px;
}

.infoblock-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin: 0;
}

.infoblock-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.infoblock-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.infoblock-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.tags {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  margin-bottom: 86px;
}

.tags-title {
  font-size: 21px;
  font-weight: 700;
}

.whys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.why-one, .why-two, .why-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eeeeee;
  width: 100%;
  height: 256px;
}

.why-title {
  font-size: 21px;
  font-weight: 700;
}

.visually-hidden {
  display: none;
}

.search-title-b {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 35px;
}

.search-title-p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 50px;
}

.search-main-title {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 282px;
}

.search-main-title:hover {
  background-color: #604e43;
}

.search-main-title:active {
  background-color: #503e33;
  color: #847870;
}

.submit-search:hover {
  background-color: #669ec0;
}

.submit-search:active {
  color: #87b6d1;
  background-color: #5496bd;
}

footer {
  background-color: #ffffff;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.htmlacademy-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* Гостиницы */
hr {
  opacity: 0.3;
}

.sorting {
  display: flex;
}

.sorting-ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.sorting-found {
  display: flex;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-ul {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  color: #b2b2b2;
}

.sorting-ul a {
  color: #b2b2b2;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
}

.hotel p {
  display: flex;
  flex-direction: row;
}

.hotel {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-more {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background: #81b3d2;
  color: #ffffff;
}

.hotel-more:hover {
  background: #669ec0;
}

.hotel-more:active {
  color: #7aadcb;
  background: #5496bd;
}

.hotel-rent {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background: #766357;
  color: #ffffff;
}

.hotel-rent:hover {
  background: #604e43;
}

.hotel-rent:active {
  background: #847870;
  color: #7a6c64;
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: #b2b2b2;
}

.submit-search {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  margin-bottom: 133px;
}